[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
datetime = "*"
transformers = "*"
accelerate = "*"
weaviate-client = "*"
sentence-transformers = "*"
bitsandbytes = "*"
ijson = "*"
pandas = "*"
datasets = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.13"
